@using WEB_BANHOATUOI.Models;
@model HOA

<td data-th="Product">
    <div class="col-sm-3 hidden-xs">
        <img width="100" class="img-responsive" alt="Sản phẩm 1" src="~/Hinh/@Model.ANHBIA">
    </div>
</td>
<td data-th="Product">
    <div class="col-sm-9">
        <h4 class="nomargin">@Model.TENHOA</h4>
    </div>
</td>

